article {
    padding: 1rem 1rem 1rem 1.5rem;
}

body {
    background-image : url("../images/accueilImage.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size:70%;
    background-position-x: right;
    background-position-y: bottom;
}

@media (max-width: 700px){
    body {background-size:490px;}
    .mt-5:nth-child(2) {margin-top: 0 !important;}
}

@media (max-width:490px) {
    body {background-position-x: center; background-size:98%}
}

button {
    margin: 10px;
    background-color: #b2e3dc;
    border-color: #C0F6EE;
    border-radius:20px;
    transition:340ms;
    padding:0.8rem;
}

button:hover {
    transform: scale(1.1,1.1);
}

.container {
    border-radius: 5%;
}

.container > * {
    opacity: 100%;
}

h1, h2, h3, p {
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}