:root {
    --header-height: 43px;
    --color-logo-dark-green: #007E7A;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 0;
}
.background {
    min-height: 100dvh;
}

main {
    position: relative;
    top: var(--header-height);
    padding: 0.5rem;
}


.no-outline-focus:focus,
.no-outline-focus:focus:not(:focus-visible){
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.flex-grow {
    flex: 1;
}

.moderately-bold {
    font-weight: 520;
}

.fs-small {
    font-size: 0.8rem;
}

.answer-line {
    display: inline-block;
    width: 1.5rem;
    margin: 0 5px;
    vertical-align: middle;
}

.grey, .btn-behaviour-light:hover {
    color: #757575;
}

.btn-behaviour {
    cursor: pointer;
}

.btn-behaviour-dark:hover {
    color: black;
}

/*---------------------------------------------------
# Add multiple images icon on publication creation  #
---------------------------------------------------*/

.add-image-icon {
    background-color: var(--color-logo-dark-green) !important;
    opacity: 0.5;
    z-index: 1000;
}

.add-image-icon:hover {
    background-color: #77D9CF !important;
}

.add-image-icon:hover svg {
    fill: var(--color-logo-dark-green);
}

.add-image-popup {
    background-color: rgba(0,0,0,0.8);
    width: fit-content;
}



.modal-dialog {
    display: flex;
    justify-content: center;
}

.add-image-popup img {
    max-height: 3rem;
}

.carousel-image img, .carousel-image-main img {
    max-height: 10rem;
    max-width: fit-content;
}

.carousel-image, .carousel-image-main {
    align-items: center;
}

.stand-out {
    color: var(--color-logo-dark-green);
    font-weight: 600;
}