:root {
    --header-height: 43px;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 0;
}
.background {
    min-height: 100dvh;
}

main {
    position: relative;
    top: var(--header-height);
    padding: 0.5rem;
}


.no-outline-focus:focus,
.no-outline-focus:hover {
    outline: none !important;
    box-shadow: none !important;
    border: none;
}

.flex-grow {
    flex: 1;
}

.moderately-bold {
    font-weight: 520;
}

.fs-small {
    font-size: 0.8rem;
    color: #757575;
}