.container {
    position: inherit;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 6rem;
    margin-bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    min-width:400px;
}

@media (max-width:450px){
    .container{min-width:90%;}
}

body {
    width:100%;
}

h1 {
    font-size: 30px;
}

label {
    display:block;
}

input {
    border-radius:15px;
    padding:5px;
    border: 1px solid #a8b1ba;
    outline:none;
}

select, input, button {
    margin: 10px;
}

label {
    font-size:15px;
}

input {
    width:100%;
    border: 2px solid #a8b1ba;
    font-size:17px;
}

input:hover {
    border: 2px solid grey;
}

button {
    border-radius: 10px;
    transition:350ms;
}

button:hover {
    transform: scale(1.1,1.1);
}

label {
    pointer-events: none;
}

.deleteAccountLabel {
    margin-top:1rem;
    padding-top:1rem;
    border-top: 1px solid #ababab;
    width:100%;
    text-align:center;
    display:flex;
    justify-content: center;
}